body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9ecef; /* 背景色を少し明るく */
}

a {
  color: #007bff; /* リンクの色を少し濃く */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ボックスシャドウを追加 */
}

h2 {
  margin-bottom: 20px;
  color: #495057; /* 見出しの色を少し濃く */
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #6c757d; /* ボタンの色を優しく */
  border-color: #6c757d;
}

.btn-primary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary {
  background-color: #007bff; /* 検索ボタンの色 */
  border-color: #007bff;
}

.btn-secondary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item span {
  flex-grow: 1;
}

.completed {
  text-decoration: line-through; /* 取り消し線 */
}
